# 3.3: Split-apply-combine in pandas

Now that we are (somewhat) comfortable with transformation of data between wide and long, we can get into another very powerful pandas feature known as split-apply-combine.

---

## Dataset

The three files are in your ```../assets/datasets/``` directory. They are:

- ```mach_data.csv``` which contains the wide data.
- ```mach_long.csv``` which contains the already long data.
- ```mach_codebook.csv``` which contains the information about the survey data.

---

## Packages

Loaded same as ever.

In [1]:
!pwd

/Users/davidswan/Desktop/GA WORK/curriculum/week-02/3.3-lesson/code

In [2]:
# data modules
import numpy as np
import scipy.stats as stats
import pandas as pd

# plotting modules
import matplotlib.pyplot as plt
import seaborn as sns

# make sure charts appear in the notebook:
%matplotlib inline

---

## A: Load the already widened data

I have already widened the data for you here in the interest of time. You can see how I get started on the bonus 2 question below as well.

If you would like to do the melting part yourself for practice, be my guest! The more practice the better. If doing it yourself you would instead load the ```mach_data.csv``` file again.

In [15]:
mach_long = pd.read_csv('/Users/davidswan/Downloads/mach_long.csv')
mach_long

        age  gender  subject_id         variable  value
0        24       1           1               Q1      4
1        33       2           2               Q1      2
2        21       1           3               Q1      3
3        17       1           4               Q1      4
4        22       1           5               Q1      4
5        21       1           6               Q1      5
6        55       1           7               Q1      4
7        40       1           8               Q1      1
8        30       2           9               Q1      3
9        65       1          10               Q1      2
10       21       1          11               Q1      3
11       23       1          12               Q1      5
12       17       1          13               Q1      4
13       24       1          14               Q1      3
14       20       1          15               Q1      4
15       20       1          16               Q1      3
16       27       1          17               Q1      4
17       48       2          18               Q1      2
18       54       1          19               Q1      4
19       17       1          20               Q1      3
20       20       1          21               Q1      2
21       24       1          22               Q1      5
22       20       2          23               Q1      4
23       19       1          24               Q1      5
24       26       2          25               Q1      5
25       32       1          26               Q1      2
26       56       1          27               Q1      2
27       31       1          28               Q1      2
28       29       2          29               Q1      4
29       30       2          30               Q1      2
...     ...     ...         ...              ...    ...
268062   32       1       12157  seconds_elapsed    115
268063   70       1       12158  seconds_elapsed    221
268064   29       2       12159  seconds_elapsed    154
268065   23       1       12160  seconds_elapsed    164
268066   19       1       12161  seconds_elapsed    193
268067   27       1       12162  seconds_elapsed    143
268068   50       2       12163  seconds_elapsed    191
268069   23       1       12164  seconds_elapsed    147
268070   23       1       12165  seconds_elapsed    133
268071   59       1       12166  seconds_elapsed    136
268072   17       1       12167  seconds_elapsed    238
268073   24       1       12168  seconds_elapsed    134
268074   18       1       12169  seconds_elapsed    277
268075   22       2       12170  seconds_elapsed    152
268076   39       1       12171  seconds_elapsed    156
268077   39       1       12172  seconds_elapsed    383
268078   42       1       12173  seconds_elapsed    199
268079   50       2       12174  seconds_elapsed    108
268080   50       2       12175  seconds_elapsed    106
268081   20       1       12176  seconds_elapsed    300
268082   23       1       12177  seconds_elapsed    167
268083   56       2       12178  seconds_elapsed    428
268084   50       2       12179  seconds_elapsed    184
268085   18       1       12180  seconds_elapsed    263
268086   45       1       12181  seconds_elapsed    384
268087   29       1       12182  seconds_elapsed    293
268088   23       1       12183  seconds_elapsed    191
268089   20       1       12184  seconds_elapsed    161
268090   27       1       12185  seconds_elapsed    272
268091   47       2       12186  seconds_elapsed    180

[268092 rows x 5 columns]

In [4]:
print mach_long.variable.unique()

['Q1' 'Q2' 'Q3' 'Q4' 'Q5' 'Q6' 'Q7' 'Q8' 'Q9' 'Q10' 'Q11' 'Q12' 'Q13' 'Q14'
 'Q15' 'Q16' 'Q17' 'Q18' 'Q19' 'Q20' 'score' 'seconds_elapsed']

In [5]:
mach_long = mach_long[mach_long.variable != 'score']

seconds_data = mach_long.ix[mach_long.variable == 'seconds_elapsed', ['subject_id','variable','value']]

seconds_data['seconds_per_q'] = seconds_data.value / 20.

mach_long = mach_long[mach_long.variable != 'seconds_elapsed']

seconds_data.head()

        subject_id         variable  value  seconds_per_q
255906           1  seconds_elapsed    177           8.85
255907           2  seconds_elapsed    107           5.35
255908           3  seconds_elapsed    323          16.15
255909           4  seconds_elapsed    136           6.80
255910           5  seconds_elapsed    142           7.10

### A.2 : Sorting by multiple columns with custom sort for questions

We are going to use ```pd.Categorical``` to custom-sort the questions after subject

see:  http://stackoverflow.com/questions/13838405/custom-sorting-in-pandas-dataframe

Look stuff up online!!

In [6]:
categorical_questions = pd.Categorical(mach_long.variable,
                                       ['Q1','Q2','Q3','Q4',
                                        'Q5','Q6','Q7','Q8',
                                        'Q9','Q10','Q11','Q12',
                                        'Q13','Q14','Q15','Q16',
                                        'Q17','Q18','Q19','Q20'])

mach_long['variable'] = categorical_questions

mach_long.sort_values(['subject_id','variable'], inplace=True)

mach_long.head()

       age  gender  subject_id variable  value
0       24       1           1       Q1      4
12186   24       1           1       Q2      4
24372   24       1           1       Q3      2
36558   24       1           1       Q4      2
48744   24       1           1       Q5      4

### A.3: Adding the time by question by subject_id as a new value

Merge the seconds data and the long data together. This is a preview to future lessons!

In [7]:
mach_secs = mach_long.merge(seconds_data[['subject_id', 'seconds_per_q']], on='subject_id', sort=False)

mach_secs.head()

   age  gender  subject_id variable  value  seconds_per_q
0   24       1           1       Q1      4           8.85
1   24       1           1       Q2      4           8.85
2   24       1           1       Q3      2           8.85
3   24       1           1       Q4      2           8.85
4   24       1           1       Q5      4           8.85

### A.4 Doing a cumulative sum of the seconds

Do a cumulative sum of the seconds by subject.

This is an example of the split-apply-combine pattern. We will do more as well.

#### A.4.1: Split the data into groups by subject_id

In [11]:
#mach_long
pd.pivot_table(mach_secs, index = "subject_id")
mach_long

        age  gender  subject_id variable  value
0        24       1           1       Q1      4
12186    24       1           1       Q2      4
24372    24       1           1       Q3      2
36558    24       1           1       Q4      2
48744    24       1           1       Q5      4
60930    24       1           1       Q6      2
73116    24       1           1       Q7      3
85302    24       1           1       Q8      5
97488    24       1           1       Q9      3
109674   24       1           1      Q10      4
121860   24       1           1      Q11      2
134046   24       1           1      Q12      5
146232   24       1           1      Q13      2
158418   24       1           1      Q14      1
170604   24       1           1      Q15      4
182790   24       1           1      Q16      4
194976   24       1           1      Q17      2
207162   24       1           1      Q18      0
219348   24       1           1      Q19      5
231534   24       1           1      Q20      2
1        33       2           2       Q1      2
12187    33       2           2       Q2      2
24373    33       2           2       Q3      4
36559    33       2           2       Q4      4
48745    33       2           2       Q5      4
60931    33       2           2       Q6      2
73117    33       2           2       Q7      2
85303    33       2           2       Q8      2
97489    33       2           2       Q9      4
109675   33       2           2      Q10      4
...     ...     ...         ...      ...    ...
134044   27       1       12185      Q11      1
146230   27       1       12185      Q12      5
158416   27       1       12185      Q13      1
170602   27       1       12185      Q14      3
182788   27       1       12185      Q15      3
194974   27       1       12185      Q16      5
207160   27       1       12185      Q17      1
219346   27       1       12185      Q18      5
231532   27       1       12185      Q19      5
243718   27       1       12185      Q20      1
12185    47       2       12186       Q1      3
24371    47       2       12186       Q2      2
36557    47       2       12186       Q3      3
48743    47       2       12186       Q4      2
60929    47       2       12186       Q5      4
73115    47       2       12186       Q6      4
85301    47       2       12186       Q7      4
97487    47       2       12186       Q8      2
109673   47       2       12186       Q9      4
121859   47       2       12186      Q10      4
134045   47       2       12186      Q11      2
146231   47       2       12186      Q12      5
158417   47       2       12186      Q13      4
170603   47       2       12186      Q14      2
182789   47       2       12186      Q15      3
194975   47       2       12186      Q16      2
207161   47       2       12186      Q17      2
219347   47       2       12186      Q18      3
231533   47       2       12186      Q19      5
243719   47       2       12186      Q20      2

[243720 rows x 5 columns]

In [14]:
mach_secs_wide = pd.pivot_table(mach_secs,
                                values=['value','seconds_elapsed'],
                                index=['subject_id','age','gender'],
                                columns=['variable'])
mach_secs_wide

                      value                                                    \
variable                 Q1 Q10 Q11 Q12 Q13 Q14 Q15 Q16 Q17 Q18 Q19 Q2 Q20 Q3
subject_id age gender
1          24  1          4   4   2   5   2   1   4   4   2   0   5  4   2  2
2          33  2          2   4   2   4   2   2   3   2   2   4   5  2   2  4
3          21  1          3   3   2   4   4   3   3   4   2   4   5  4   1  2
4          17  1          4   3   1   5   3   2   4   2   2   3   4  4   2  3
5          22  1          4   3   1   2   4   4   5   4   1   4   5  5   4  2
6          21  1          5   2   2   4   4   2   4   2   2   4   4  5   5  5
7          55  1          4   2   1   4   4   2   4   1   2   5   5  4   3  3
8          40  1          1   4   2   3   1   4   3   4   3   3   4  3   1  5
9          30  2          3   4   1   5   4   2   1   2   2   4   5  3   2  5
10         65  1          2   5   2   4   3   4   2   2   2   3   4  1   4  2
11         21  1          3   4   3   4   2   2   4   4   4   2   5  2   1  4
12         23  1          5   3   1   4   4   2   3   2   3   3   4  3   4  2
13         17  1          4   4   3   5   2   4   2   2   2   4   4  2   2  3
14         24  1          3   4   2   4   3   3   4   2   2   3   5  4   2  4
15         20  1          4   2   2   2   3   3   4   2   2   4   4  4   2  3
16         20  1          3   3   1   4   5   2   5   4   2   4   5  4   5  3
17         27  1          4   3   1   5   4   1   2   3   1   5   3  3   3  2
18         48  2          2   4   3   3   2   4   4   2   3   4   2  4   2  4
19         54  1          4   2   2   1   2   2   3   1   1   4   5  5   1  3
20         17  1          3   4   4   3   4   2   3   2   3   3   4  4   2  4
21         20  1          2   4   2   3   2   2   2   2   4   4   4  2   1  2
22         24  1          5   2   2   5   2   3   2   2   2   4   4  4   4  1
23         20  2          4   4   1   4   3   2   2   2   2   3   3  2   3  3
24         19  1          5   2   1   1   3   2   3   1   2   4   4  3   4  2
25         26  2          5   3   1   3   1   1   3   3   2   3   5  5   1  4
26         32  1          2   2   2   4   2   2   4   2   2   4   5  4   2  2
27         56  1          2   3   2   4   3   3   3   2   2   4   4  3   2  3
28         31  1          2   2   2   4   4   3   4   2   4   5   5  4   2  1
29         29  2          4   4   3   4   2   2   2   4   2   4   3  2   1  2
30         30  2          2   3   1   4   4   2   2   2   2   5   5  4   4  2
...                     ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  .. ..  .. ..
12157      32  1          2   3   1   3   4   2   4   4   4   0   5  3   4  4
12158      70  1          2   2   3   4   3   2   2   4   2   3   2  2   2  3
12159      29  2          1   5   2   3   1   2   1   2   2   2   5  2   1  4
12160      23  1          5   1   1   1   1   1   1   1   1   5   5  5   5  1
12161      19  1          4   2   1   5   4   1   3   2   4   5   5  3   3  2
12162      27  1          5   2   1   4   4   2   4   4   2   4   5  4   2  2
12163      50  2          2   3   2   2   1   2   2   3   3   2   4  1   1  2
12164      23  1          2   4   2   2   2   2   2   4   3   4   4  4   3  2
12165      23  1          4   1   1   5   5   1   4   5   2   5   5  4   1  2
12166      59  1          3   4   2   4   4   3   2   2   4   4   5  4   3  2
12167      17  1          3   2   3   3   5   2   4   3   3   4   4  3   2  2
12168      24  1          5   1   1   5   5   1   5   1   1   5   5  5   5  1
12169      18  1          4   1   2   5   4   2   3   2   2   2   5  5   2  2
12170      22  2          2   3   2   3   3   2   2   2   2   3   5  3   3  3
12171      39  1          4   4   3   4   4   2   4   2   2   4   4  4   3  3
12172      39  1          4   4   2   4   4   2   4   4   2   4   4  4   2  3
12173      42  1          2   4   1   2   1   3   3   2   4   3   5  3   2  4
12174      50  2          2   5   3   3   3   4   3   4   4   3   4  2   2  4
12175      50  2          2   3   3   2   4   4   4   2   4   4   4  4   2  4
12176      20  1          4   2   4   3   2   3   1   2   2   4   4  3   4  3
12177      23  1          5   1   1   5   5   1   1   1   5   5   5  5   5  1
12178      56  2          4   4   2   4   1   3   4   2   2   4   5  4   2  2
12179      50  2          2   4   1   2   4   2   4   5   2   2   5  4   1  5
12180      18  1          5   1   2   5   4   3   4   1   1   4   5  5   4  1
12181      45  1          5   2   2   3   2   3   2   3   2   4   4  1   2  4
12182      29  1          2   4   1   1   2   2   2   2   2   3   5  2   1  5
12183      23  1          5   3   1   5   4   1   4   1   3   4   4  5   5  3
12184      20  1          4   1   3   4   5   1   2   1   3   5   4  5   4  1
12185      27  1          5   5   1   5   1   3   3   5   1   5   5  5   1  3
12186      47  2          3   4   2   5   4   2   3   2   2   3   5  2   2  3


variable              Q4 Q5 Q6 Q7 Q8 Q9
subject_id age gender
1          24  1       2  4  2  3  5  3
2          33  2       4  4  2  2  2  4
3          21  1       4  4  2  2  2  4
4          17  1       2  4  3  4  5  4
5          22  1       3  5  0  3  4  3
6          21  1       2  4  3  2  4  4
7          55  1       1  5  3  2  4  2
8          40  1       2  4  4  3  1  4
9          30  2       2  4  2  4  4  3
10         65  1       4  3  4  4  4  5
11         21  1       2  4  5  4  5  4
12         23  1       2  4  2  2  4  3
13         17  1       4  2  4  1  2  5
14         24  1       3  4  2  2  3  4
15         20  1       2  2  3  2  4  4
16         20  1       4  2  2  2  4  4
17         27  1       1  3  2  2  3  3
18         48  2       3  3  4  3  2  4
19         54  1       4  2  2  1  2  4
20         17  1       4  2  5  4  4  5
21         20  1       2  4  4  2  4  4
22         24  1       2  4  2  1  1  4
23         20  2       1  4  4  2  4  4
24         19  1       2  4  3  2  3  3
25         26  2       2  5  1  1  2  2
26         32  1       4  4  2  2  2  4
27         56  1       3  3  2  3  2  3
28         31  1       1  5  2  1  5  3
29         29  2       4  2  3  2  2  4
30         30  2       2  5  3  2  2  4
...                   .. .. .. .. .. ..
12157      32  1       4  4  4  2  2  4
12158      70  1       2  4  2  2  2  1
12159      29  2       4  2  4  2  2  5
12160      23  1       1  5  1  1  3  1
12161      19  1       3  5  3  1  3  3
12162      27  1       2  4  2  2  4  4
12163      50  2       3  4  2  2  1  5
12164      23  1       4  2  3  2  2  2
12165      23  1       2  4  1  1  4  1
12166      59  1       3  2  2  2  4  2
12167      17  1       1  4  3  2  2  2
12168      24  1       1  5  1  1  5  1
12169      18  1       3  3  2  1  3  3
12170      22  2       3  4  3  3  2  4
12171      39  1       3  4  3  2  4  2
12172      39  1       2  4  2  2  4  4
12173      42  1       3  2  4  2  2  5
12174      50  2       4  1  5  4  1  5
12175      50  2       4  2  4  4  2  4
12176      20  1       4  3  4  3  4  4
12177      23  1       1  5  1  1  5  1
12178      56  2       2  4  2  2  2  4
12179      50  2       5  2  5  4  2  4
12180      18  1       2  2  1  1  3  2
12181      45  1       4  5  2  3  2  4
12182      29  1       2  4  4  1  4  5
12183      23  1       2  4  1  1  2  1
12184      20  1       3  4  1  1  4  5
12185      27  1       1  5  5  5  5  5
12186      47  2       2  4  4  4  2  4

[12186 rows x 20 columns]

#### A.4.2: Apply the cumulative sum function, iterating through the groups

the ```.transform()``` function on group objects requires a function as the argument.