# Today: Data Wrangling GROUPS!

Choose a team, and then spend some time looking at data.  We want you to explore the data using the techniques we learned this far including:

- Grouping / subsetting / segmentation
- Summary statistics
    - Histograms
    - Plotting
- Slicing
- Cleaning data
    - assessing proper types
    - expected values
    - object converstion
   

At the end of our exploratory analysis, each group will be giving a 10 minute presentation on their findings to the rest of class.

In [1]:
import pandas as pd, numpy as np, seaborn as sns

%matplotlib inline

## Team Alpha Drone

Since the API from `api.dronestre.am` provides data on drone strikes in near real time, this **might** be useful to hold President Obama accountable to his promise of reducing drone strikes.  Your mission, is to explore drone strike data, doing any accomanying research with your analysis, and report back any good summary statistics.

Also, we would like to know:
 - Is this a good source of data?
     - Why / why not?
     
*Politics aside -- let's keep it to what is measurable in our dataset.  This isn't meant to prove or disprove anything.  It's a **fun** dataset to look at moreso than a motivator of political discourse.*

In [41]:
# First we need to fetch some data using Python requests from API
# Read more about Python requests:
# http://docs.python-requests.org/en/master/user/quickstart/

import requests

response = requests.get("http://api.dronestre.am/data")
json_data = response.json()
drone_df = pd.DataFrame(json_data['strike'])

drone_df.columns

Index([u'_id', u'articles', u'bij_link', u'bij_summary_short', u'bureau_id',
       u'children', u'civilians', u'country', u'date', u'deaths',
       u'deaths_max', u'deaths_min', u'injuries', u'lat', u'location', u'lon',
       u'names', u'narrative', u'number', u'target', u'town', u'tweet_id'],
      dtype='object')

In [89]:
# drone_df[['country']]
pd.DataFrame(drone_df.groupby('country')['deaths_max'].count())

                             deaths_max
country
Pakistan                            428
Pakistan-Afghanistan Border           1
Somalia                              20
Yemen                               175

In [117]:
deathFrame = drone_df[['deaths_max']]
deathtoll = 0
for i in drone_df['deaths_max']:
    if i != '' & i != '?':
        integer = int(i)
        deathtoll += integer
        print deathtoll
    
            
#     print j, type(j) 
deathtoll

TypeError: unsupported operand type(s) for &: 'str' and 'unicode'

In [104]:
deathList = drone_df['deaths_max']
deathToll = 0
# for i in deathList:
#     if type(i) == 'int':
#         print i
#         deathToll += i
# #         print int(i) #i += deathToll
# #     print deathToll
for i in deathList:
    if type(i)==:
        print i, type(i)

SyntaxError: invalid syntax (<ipython-input-104-20a87cefcd63>, line 10)

In [62]:
d = 6

In [68]:
d.isdigit()

AttributeError: 'int' object has no attribute 'isdigit'

## Team Popcorn

You're a force to be reckoned with when you `read_csv` into your `movie_df` dataframe.  You are team "Popcorn".  It would be nice to know:

 - Which movies remained in the top 10 the longest
 - Which movies were good investments?
 
 Bonus:
 - Do any holidays impact sales performance or position?


_[There's a data dictionary available!](http://www.amstat.org/publications/jse/v17n1/datasets.mclaren.html)_

In [5]:
movie_df = pd.read_csv("../data/movie_weekend.csv")
movie_df.head(5)

   NUMBER             MOVIE  WEEK_NUM  WEEKEND_PER_THEATER WEEKEND_DATE
0       1  A Beautiful Mind         1                  701     12/21/01
1       1  A Beautiful Mind         2                14820     12/28/01
2       1  A Beautiful Mind         3                 8940       1/4/02
3       1  A Beautiful Mind         4                 6850      1/11/02
4       1  A Beautiful Mind         5                 5280      1/18/02

## Team Titanic

Known for it's honesty, the Titanic dataset is a very common dataset for doing classification prediction of fatalities.  For our challenge, why don't we try to focus on the latent characteristics. 

For the record, this is how much know:

![](http://www.glencoe.com/sec/math/studytools/books/0-07-829631-5/images/IQ02-003W-8228662.gif)

Certainly there is a better story to tell.

**Bonus**
 - Can you pull out titles (ie: Mr., Miss, Mrs) from the feature "Name" and assign it to a new variable? We think there could be something interesting to look at in aggregate based on titles!

In [411]:
titanic_df = pd.read_csv("../data/titanic.csv")
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S