In [3]:
import pandas as pd
import numpy as np

In [10]:
# create a series using a numpy random number generator

s = pd.Series(np.random.randn(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])  
print s
print s['a':]

a   -0.497179
b    0.438304
c   -0.137569
d    1.915251
e    1.057316
f    0.762795
g    0.439741
dtype: float64
a   -0.497179
b    0.438304
c   -0.137569
d    1.915251
e    1.057316
f    0.762795
g    0.439741
dtype: float64

In [32]:
# head of series

pd.Series.head(s)

a    2.069906
b    0.023266
c    0.815262
d    0.506705
e    0.072054
dtype: float64

In [36]:
# tail of series

pd.Series.tail(s)

c    0.815262
d    0.506705
e    0.072054
f   -0.515751
g   -0.191931
dtype: float64

In [38]:
# summary stats

pd.Series.describe(s)

count    7.000000
mean     0.397073
std      0.857400
min     -0.515751
25%     -0.084332
50%      0.072054
75%      0.660984
max      2.069906
dtype: float64

In [40]:
# select by location c to g

s.loc['c':]

c    0.815262
d    0.506705
e    0.072054
f   -0.515751
g   -0.191931
dtype: float64

In [41]:
# select just b

s.loc['b']

0.023265944389124635

In [42]:
# slice for rows 1-3

s[:3]

a    2.069906
b    0.023266
c    0.815262
dtype: float64

### Boolean indexing

In [45]:
# create another series ranging from -3 to 3

s = pd.Series(range(-3, 4))
s

0   -3
1   -2
2   -1
3    0
4    1
5    2
6    3
dtype: int64

In [46]:
# find the values that are > 0. 

s[s > 0]

4    1
5    2
6    3
dtype: int64

In [47]:
# find the values that are < -1 or > 0.5

s[(s < -1) | (s > 0.5)]

0   -3
1   -2
4    1
5    2
6    3
dtype: int64

In [50]:
# find the values that are not < 0.

s[~(s < 0)]

3    0
4    1
5    2
6    3
dtype: int64

In [51]:
# find the values that are < 2

s[s < 2]

0   -3
1   -2
2   -1
3    0
4    1
dtype: int64

2015-01-01 00:00:00    0.933292
2015-01-01 00:45:00    0.933292
2015-01-01 01:30:00    1.027040
2015-01-01 02:15:00    0.918704
2015-01-01 03:00:00   -1.413028
2015-01-01 03:45:00   -1.413028
2015-01-01 04:30:00    0.780921
2015-01-01 05:15:00    0.537933
2015-01-01 06:00:00    0.479490
2015-01-01 06:45:00    0.479490
2015-01-01 07:30:00    1.414508
2015-01-01 08:15:00    0.299179
2015-01-01 09:00:00   -0.925136
2015-01-01 09:45:00   -0.925136
2015-01-01 10:30:00    0.558645
2015-01-01 11:15:00   -0.851106
2015-01-01 12:00:00    0.440117
2015-01-01 12:45:00    0.440117
2015-01-01 13:30:00    0.424793
2015-01-01 14:15:00    1.091502
2015-01-01 15:00:00    1.337563
2015-01-01 15:45:00    1.337563
2015-01-01 16:30:00    0.283526
2015-01-01 17:15:00    3.056179
2015-01-01 18:00:00    0.440675
2015-01-01 18:45:00    0.440675
2015-01-01 19:30:00   -2.014017
2015-01-01 20:15:00    0.424880
2015-01-01 21:00:00    0.333002
2015-01-01 21:45:00    0.333002
                         ...
2015-01-03 00:45:00    0.866631
2015-01-03 01:30:00    0.144191
2015-01-03 02:15:00   -1.431376
2015-01-03 03:00:00   -0.140729
2015-01-03 03:45:00   -0.140729
2015-01-03 04:30:00    0.025098
2015-01-03 05:15:00    1.185181
2015-01-03 06:00:00    1.438037
2015-01-03 06:45:00    1.438037
2015-01-03 07:30:00   -0.067352
2015-01-03 08:15:00   -0.871104
2015-01-03 09:00:00    0.965175
2015-01-03 09:45:00    0.965175
2015-01-03 10:30:00   -0.187985
2015-01-03 11:15:00    0.096116
2015-01-03 12:00:00   -0.248940
2015-01-03 12:45:00   -0.248940
2015-01-03 13:30:00   -0.406985
2015-01-03 14:15:00   -1.140338
2015-01-03 15:00:00    1.171409
2015-01-03 15:45:00    1.171409
2015-01-03 16:30:00   -1.844853
2015-01-03 17:15:00    0.654416
2015-01-03 18:00:00    0.320711
2015-01-03 18:45:00    0.320711
2015-01-03 19:30:00   -0.124926
2015-01-03 20:15:00   -0.035792
2015-01-03 21:00:00   -0.681997
2015-01-03 21:45:00   -0.681997
2015-01-03 22:30:00   -0.055180
Freq: 45T, dtype: float64

In [19]:
converted.head()

2015-01-01 00:00:00    0.933292
2015-01-01 00:45:00    0.933292
2015-01-01 01:30:00    1.027040
2015-01-01 02:15:00    0.918704
2015-01-01 03:00:00   -1.413028
Freq: 45T, dtype: float64